form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span {
    align-self: center;
    color: red;
}


@media (max-width: 1920px) {
    .usuario-field, 
    .password-field{
        position: relative !important;
        width: 220px;
        height: 30px;
        padding: 0px !important;
        border-radius: 10px !important;
        margin: 1rem 1rem 0rem 1rem !important;
        border: none !important;
        transition: 0.5s;
        align-content: center;
        text-align: center;
        cursor: pointer;
        background-color: white !important;
    }

    .usuario-field:focus, 
    .password-field:focus {
        outline: none;
        box-shadow: inset 0 1px 1px #42d392, 0 0 8px #42d392;
    }

    .usuario-field:hover 
    .password-field:hover {
        outline: none;
        border-color: #42d392;
        box-shadow: inset 0 0 4px #42d392, 0 0 5px #42d392;
    }

    .toggle-password {
        position: absolute;
        right: 20px;
        top: 20px;
    }

    .password-input {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }

    .start-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        margin: 1rem 1rem 2rem 1rem;
    }

    /* Dark mode */
    .start-buttons-dark {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        margin: 1rem 1rem 2rem 1rem;
    }
}

@media (max-width:1024px) {
    .start-buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem 1rem 2rem 1rem;
    }
}